/* This is unnecessary to functionality, just for fun! */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

html,
body,
#root {
  margin: 0;
  height: 100%;
}

.App {
  font-family: 'IBM Plex Mono', monospace;
  height: 100%;
  background: #3f6c51;
  color: white;
  padding: 60px 0;
  text-align: center;
}

h3 {
  margin-bottom: 30px;
}

input {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 28px;
  padding: 8px 15px;
  border: 0;
  border-radius: 4px;
  color: #333;
}
